*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#form {
    width: 400px;
    padding: 30px;
    background-image: url('/images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white; 
}

input[type="text"], button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #30385B;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #20273f;
}
